.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 0;
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (min-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    width: 50%;
    height: 100%;
    top: 0;
    button:focus {outline:0;}
    
    &::after {
      display: none; 
    }
  }
  
  .swiper-button-next {
    cursor: e-resize;
  }
  
  .swiper-button-prev {
    cursor: w-resize;
  }
}